<form class="bg-white m-auto flex flex-col lg:w-1/2 xl:w-1/2 relative">
    <button class="bg-white w-4 h-4 p-4 border border-gray-200 rounded flex items-center justify-center absolute -top-4 right-4" (click)="toggleFilters()">
        <fa-icon [icon]="faXmark" [style]="{'color': '#000'}"></fa-icon>
    </button>
    <div class="py-2 px-4">
        <h2 class="text-xl font-bold py-3">Filtros</h2>
        <div class="flex flex-col">
            <app-category-box *ngFor="let category of categories" [category]="category | titlecase"></app-category-box>
        </div>
    </div>
    <div class="bg-gray-200 p-4 flex justify-evenly items-center gap-5">
        <button type="reset" class="bg-gray-100 text-gray-500 border border-gray-300 w-full py-2 px-5 rounded text-sm font-semibold">LIMPIAR</button>
        <button type="submit" class="bg-blue-700 text-white w-full py-2 px-5 rounded text-sm font-semibold flex gap-2">
            FILTRAR
            <fa-icon [icon]="faFilter" [styles]="{'color': '#fff'}"></fa-icon>
            <span class="bg-white text-black px-3 rounded-full">1</span>
        </button>
    </div>
</form>
