<header class="fixed top-0 w-full">
    <nav class="bg-black p-5 flex justify-between">
        <div>
            <button>
                <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
            </button>
        </div>
        <div class="flex gap-4">
            <button>
                <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
            </button>
            <button class="relative">
                <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                <span class="bg-blue-700 text-xs text-white h-4 w-4 rounded-full absolute -top-1 -right-2">9</span>
            </button>
        </div>
    </nav>
</header>